<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.storm.mapper.SysLoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.storm.model.SysLoginLog" >
    <id column="login_log_id" property="loginLogId" jdbcType="BIGINT" />
    <result column="op_id" property="opId" jdbcType="INTEGER" />
    <result column="op_name" property="opName" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="session_id" property="sessionId" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="logout_time" property="logoutTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.storm.model.SysLoginLog" extends="BaseResultMap" >
    <result column="message" property="message" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    login_log_id, op_id, op_name, addr, session_id, login_time, logout_time, `status`
  </sql>
  <sql id="Blob_Column_List" >
    message
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_login_log
    where login_log_id = #{loginLogId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_login_log
    where login_log_id = #{loginLogId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.storm.model.SysLoginLog" >
    insert into sys_login_log (login_log_id, op_id, op_name, 
      addr, session_id, login_time, 
      logout_time, `status`, message
      )
    values (#{loginLogId,jdbcType=BIGINT}, #{opId,jdbcType=INTEGER}, #{opName,jdbcType=VARCHAR}, 
      #{addr,jdbcType=VARCHAR}, #{sessionId,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{logoutTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{message,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.storm.model.SysLoginLog" >
    insert into sys_login_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginLogId != null" >
        login_log_id,
      </if>
      <if test="opId != null" >
        op_id,
      </if>
      <if test="opName != null" >
        op_name,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="logoutTime != null" >
        logout_time,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginLogId != null" >
        #{loginLogId,jdbcType=BIGINT},
      </if>
      <if test="opId != null" >
        #{opId,jdbcType=INTEGER},
      </if>
      <if test="opName != null" >
        #{opName,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null" >
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.storm.model.SysLoginLog" >
    update sys_login_log
    <set >
      <if test="opId != null" >
        op_id = #{opId,jdbcType=INTEGER},
      </if>
      <if test="opName != null" >
        op_name = #{opName,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null" >
        session_id = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null" >
        logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where login_log_id = #{loginLogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.storm.model.SysLoginLog" >
    update sys_login_log
    set op_id = #{opId,jdbcType=INTEGER},
      op_name = #{opName,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      session_id = #{sessionId,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      message = #{message,jdbcType=LONGVARCHAR}
    where login_log_id = #{loginLogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.storm.model.SysLoginLog" >
    update sys_login_log
    set op_id = #{opId,jdbcType=INTEGER},
      op_name = #{opName,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      session_id = #{sessionId,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER}
    where login_log_id = #{loginLogId,jdbcType=BIGINT}
  </update>
</mapper>